
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body{
    font-family: 'Poppins' sans-serif;
    color: var(--primary-text-color);
}

h1{
    font-size: 3rem;

}
 

h2{
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

/*utilities class */
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width:1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}


.flex{
    display: flex;
    align-items: center;
}

.hover-links{
    color:var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-links:hover{
    color: var(--accent-color);
}


.primary-btn{
    background-color: var(--accent-color);
    border-radius: 6px;
    padding : 12px 24px;
    font-weight: 700;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease;
    text-align: center;
    color: white !important;
    

}


.primary-btn:hover{
    background-color: var(--accent-color-dark);
}

.top-banner{
    background-image: url(assets/asset\ 30.png);
    background-color: #4fb3d4;
    background-size: 300px;
}


.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;

}

.main-nav{
    justify-content: space-between;
    margin-top: 20px;

}


.company-logo img{
    width:200px;
}


.nav-links{
    flex-basis: 730px;
}
.nav-links ul{
    justify-content: end;
    gap: 40px;
}

.secondary-btn{
    font-weight: 700;
    padding: 12px 24px;
    border-radius: 6px;
    border: 0.5px solid var(--secondary-text-color);
    color: var(--primary-text-color);
    transition: 0.2s ease-out;

}

.secondary-btn:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

/*header*/


.header-right img{
    width: 100%;

}

.header-section{
    margin-top: 20px;
    justify-content: center;
    gap: 50px;
}

.get-btn{
    margin-top: 20px;
}

.header-section h1{
    margin-top: 20px;
}

.header-section p{
    margin-top: 5px;
}

.header-left{
    max-width: 40vw;
}


/* company section */

.company-banner{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}

.logos{
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

.logo{
    height: 40px;
}

/*feature section */

.features-section {
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(./assets/asset\ 32.svg);
    background-repeat: no-repeat;
    background-position: center;
}




.feature-heading{
    text-align: center;
    margin-bottom: 40px;
}
.feature-heading-text{
    margin-bottom: 40px;
}


.feature-area{
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;


}

.feature-card{
    flex-direction: column;
    text-align: center;
    gap: 20px;
    max-width: 30%;
}

.feature-card img{
    width: 60px;
}


/*big feature section*/


.big-feature-section{
    padding: 30px 20px 0;
}

.big-feature-container{
    gap: 30px;
}


.feature-desc{
    flex-direction: column;
    align-items: flex-start;
}

.feature-img img{
    width: 100%;
}

#second-big-container{
    flex-direction: row-reverse;
}

/*example */

.examples-section {
    padding: 80px var(--padding-inline-section)
}

.example-heading{
    text-align: center;
    flex-direction: column;
    gap: 20px;
}



.example-area{
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;
}

.example-card {
    width: 23%;
    position: relative;
    height: 300px;
    background: black;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 35.jpeg);
    background-size: cover;
    transition: 0.2s ease-out;
}

.card-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}

.example-card:hover {
    box-shadow: 0 0 10px #888;
}

.example-card:nth-child(3) {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(assets/asset\ 36.jpeg);
    background-size: cover;
}

.example-card:nth-child(4) {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 37.jpeg);
    background-size: cover;
}


/*cta section*/


.cta-section-container{
    flex-direction: column;
    gap: 20px;
    color: white;
    text-align: center;
}

.cta-section{
    background-color: var(--primary-text-color);
    padding: 120px 20px 80px;
}

.cta-section-container p{
    color: white;
    margin-top: 20px;
}

/*footer*/

footer{
    background-color: #ebf2fa;
    padding: 80px;
}

.link-column{
    flex-direction: column;
    gap: 20px;
    align-items: start;
    
    color: black
}

.link-column a{
    color: black;
}

.flex-container{
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    
}


.sub-footer-container{
    justify-content: center;
    gap: 30px;
    padding: 20px 30px;
}


.sub-footer{
    background-color:#b9cde4;
    padding: 20px;
}

.nav-toggle{
    display: none;
}

@media screen and (max-width: 991px) {
    .nav-toggle{
        display: block;
    };

   .main-nav{
    overflow: initial;
   }

   .nav-links{
    display: none;
   }
    
   .example-area{
    gap: 20px;
   }

   .example-card{
    width: calc(50% - 10px);
    height: 180px;
    
   }

   h3{
    size: 1.2rem;
   }

   .cta-section{
    padding: 80px 20px;
   }

    
}

@media screen and (max-width: 767px) {
    .header-section{
        flex-direction: column-reverse;
    }

    .header-left{
        width: 100%;
        text-align: center;
    }
    

    .flex-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;

    }

    .link-column{
        align-items: stretch;
    }

    /* .feature-area{
        gap: 20px;
    } */


   .feature-card{
    min-width: calc(50% - 10px);
   }

    .big-feature-container{
        flex-direction: column;
    }

    #second-big-container{
        flex-direction: column;
    }

    .example-heading-text h3{
        margin-top: 10px;
    }

    .primary-btn{
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
        gap: 40px;
        text-align: center;
        align-items: center;
    }

    
}

@media screen and (max-width: 479px) {
    :root {
        --padding-inline-section: 10px;
    }

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .feature-card {
        min-width: 100%;
    }

    .example-card {
        width: 100%;
    }
}
@media screen and (max-width:393px) {
    .sub-footer-container{
        flex-direction: column;
    }
    
}